<div class="off-canvas position-right in-canvas-for-large" id="site-nav-offcanvas" data-off-canvas>
  <nav class="site-nav">
    <h2 class="site-nav-title">Navigation:</h2>
    <ul class="site-nav-list">
      <li>
        <a href="about.html">About</a>
      </li>
      <li>
        <a href="issues.html">Issues</a>
      </li>
      <li>
        <a href="support.html">Support</a>
      </li>
      <li>
        <a href="contact.html">Contact/Volunteer</a>
      </li>
      <li>
        <a href="donate.html">Donate</a>
      </li>
    </ul>
  </nav>
  <button class="close-button" aria-label="Close site menu" type="button" data-close>
    <svg class="svg icon-x">
      <use xlink:href="#icon-x"></use>
    </svg>
  </button>
</div>