<div class="off-canvas position-right in-canvas-for-large site-nav-offcanvas" id="site-nav-offcanvas" data-off-canvas>
  <nav class="site-nav">
    <h2 class="site-nav-title">Navigation:</h2>
    <ul class="site-nav-list">
      <li>
        <a class="{{active-class-about}}" href="../about/">About</a>
      </li>
      <li>
        {{#unlesspage "issues"}}
        <a href="issues.html">Issues</a>
        {{/unlesspage}}

        {{#if page-issues}}
        <a class="{{active-class}}" href="issues.html">Issues</a>
        {{/if}}
      </li>
      <li>
        {{#unlesspage "endorsements"}}
        <a href="endorsements.html">Endorsements</a>
        {{/unlesspage}}

        {{#if page-endorsements}}
        <a class="is-active" href="endorsements.html">Endorsements</a>
        {{/if}}
      </li>
      <li>
        {{#unlesspage "news-events"}}
        <a href="news-events.html">News/Events</a>
        {{/unlesspage}}

        {{#if page-news-events}}
        <a class="is-active" href="news-events.html">News/Events</a>
        {{/if}}
      </li>
      <li>
        {{#unlesspage "contact"}}
        <a href="contact.html">Contact/Volunteer</a>
        {{/unlesspage}}

        {{#if page-contact}}
        <a class="is-active" href="contact.html">Contact/Volunteer</a>
        {{/if}}
      </li>
      <li>
        {{#unlesspage "donate"}}
        <a class="button" href="donate.html">Donate</a>
        {{/unlesspage}}
        {{#if page-donate}}
        <a class="is-active button" href="donate.html">Donate</a>
        {{/if}}
      </li>
    </ul>
  </nav>
  <button class="close-button" aria-label="Close site menu" type="button" data-close>
    <svg class="svg icon-x">
      <use xlink:href="#icon-x"></use>
    </svg>
  </button>
</div>