<div class="off-canvas position-right in-canvas-for-large site-nav-offcanvas" id="site-nav-offcanvas" data-off-canvas>
  <nav class="site-nav">
    <h2 class="site-nav-title">Navigation:</h2>
    <ul class="site-nav-list menu-lvl-1">
      <li class="has-children">
        <a class="menu-label {{active-class-about}}" href="#">About</a>
        <ul class="menu-lvl-2">
          <li>
            <a class="is-indented {{active-class-about-blong}}" href="../about/">About Blong</a>
          </li>
          <li>
            <a class="is-indented {{active-class-priorities}}" href="../about/priorities.html">Priorities</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <a class="menu-label {{active-class-support}}" href="#">Support</a>
        <ul class="menu-lvl-2">
          <li>
            <a class="is-indented {{active-class-endorsements}}" href="../support/endorsements.html">Endorsements</a>
          </li>
          <li>
            <a class="is-indented {{active-class-contact}}" href="../support/contact.html">Contact</a>
          </li>
        </ul>
      </li>
      </li>
      <!-- <li>
        {{#unlesspage "endorsements"}}
        <a href="endorsements.html">Endorsements</a>
        {{/unlesspage}}

        {{#if page-endorsements}}
        <a class="is-active" href="endorsements.html">Endorsements</a>
        {{/if}}
      </li> -->
      <li>
        {{#unlesspage "news-events"}}
        <a href="news-events.html">News/Events</a>
        {{/unlesspage}}

        {{#if page-news-events}}
        <a class="is-active" href="news-events.html">News/Events</a>
        {{/if}}
      </li>
      <!-- <li>
        {{#unlesspage "contact"}}
        <a href="contact.html">Contact/Volunteer</a>
        {{/unlesspage}}

        {{#if page-contact}}
        <a class="is-active" href="contact.html">Contact/Volunteer</a>
        {{/if}}
      </li> -->
      <li>
        {{#unlesspage "donate"}}
        <a class="button" href="donate.html">Donate</a>
        {{/unlesspage}}
        {{#if page-donate}}
        <a class="is-active button" href="donate.html">Donate</a>
        {{/if}}
      </li>
    </ul>
  </nav>
  <button class="close-button" aria-label="Close site menu" type="button" data-close>
    <svg class="svg icon-x">
      <use xlink:href="#icon-x"></use>
    </svg>
  </button>
</div>