<header class="site-header">
  <div class="grid-container">
    <div class="grid-x site-header-grid">
      <div class="cell small-8">
        <a class="site-header-link" href="#" aria-label="Vote Blong Yang for District 2 Hennepin County Commissioner">
          <svg class="svg site-logo">
            <use xlink:href="#site-logo"></use>
          </svg>
        </a>
      </div>
      <div class="cell shrink">
        <button class="menu-toggle">
          <svg class="svg icon-bars">
            <use xlink:href="#icon-bars"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>