// COLOR VARIABLES
$color-brand-blue: #22409a;
$color-brand-yellow: #fede17;
$color-black: #000;
$color-gray-light: #ccc;
$color-gray-medium: #666;
$color-gray-dark: #333;
$color-white: #fff;

$color-links: $color-brand-blue;
$color-links-underline: rgba($color-links, .25);
$color-links-underline-active: $color-brand-yellow;
$color-links-hover: darken($color-links, .75);

// foundation colors
// $light-gray: #e6e6e6;
// $medium-gray: #cacaca;
// $dark-gray: #8a8a8a;
// $black: #0a0a0a;
// $white: #fefefe;