<h3 class="title-tertiary">VIDEOS</h3>
<ul class="list-videos">
  {{#each data-news-events-videos.news-events}}
  {{#ifpage "news-events"}}
  {{#each this.video-list}}
  <li>
    <h2 class="title-secondary">{{this.video-title}}</h2>
    <figure class="basic-figure-video">
      <div class="video-schema" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
        <h2 class="video-schema-title show-for-sr" itemprop="name">{{this.video-title}}</h2>
        <meta itemprop="duration" content="{{this.video-duration}}">
        <meta itemprop="thumbnailUrl" content="http://i3.ytimg.com/vi/{{this.video-id}}/maxresdefault.jpg">
        <meta itemprop="embedURL" content="https://www.youtube.com/embed/{{this.video-id}}">
        <meta itemprop="uploadDate" content="{{this.video-upload-date}}T08:00:00+06:00">
        <meta itemprop="height" content="688">
        <meta itemprop="width" content="960">
        <div class="responsive-embed widescreen">
          <iframe width="960" height="688" src="https://www.youtube.com/embed/{{this.video-id}}" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen=""></iframe>
        </div>
        <figcaption class="basic-figcaption show-for-sr">
          <p itemprop="description">{{this.video-desc}}</p>
        </figcaption>
      </div>
    </figure>
  </li>
  {{/each}}
  {{/ifpage}}
  {{/each}}
</ul>