<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <p>Copyright &copy; 2018. Prepared and paid for by <em>Friends for Blong Yang</em>, 3822 Lyndale Ave N, Minneapolis, MN 55412. <a href="mailto:blongyang612@gmail.com">blongyang612@gmail.com</a>, <a href="tel:612-968-2504">(612) 968-2504</a></p>
      </div>
      <div class="cell medium-10">
        <ul class="site-footer-list list-pipes">
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="issues.html">Issues</a>
          </li>
          <li>
            <a href="endorsements.html">Endorsements</a>
          </li>
          <li>
            <a href="contact.html">Contact/Volunteer</a>
          </li>
          <li>
            <a href="donate.html">Donate</a>
          </li>
        </ul>
      </div>
      <div class="cell medium-2 text-right">
        <p>
          <a href="#site-wrapper" data-smooth-scroll>
            <svg class="svg icon-arrow-up">
              <use xlink:href="#icon-arrow-up"></use>
            </svg>
            Back to top
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>