<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <p>Copyright 2018. Prepared and paid for by Friends for Blong Yang, 3822 Lyndale Ave N, Minneapolis, MN 55412. <a href="mailto:blongyang612@gmail.com">blongyang612@gmail.com</a>, <a href="tel:612-968-2504">(612) 968-2504</a></p>

        <ul class="site-footer-list list-pipes">
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="issues.html">Issues</a>
          </li>
          <li>
            <a href="support.html">Support</a>
          </li>
          <li>
            <a href="news-events.html">News/Events</a>
          </li>
          <li>
            <a href="contact.html">Contact/Volunteer</a>
          </li>
          <li>
            <a href="donate.html">Donate</a>
          </li>
        </ul>
      </div>
      <div class="cell">
        <p>
          <a href="#site-wrapper">
            <svg class="svg icon-arrow-up">
              <use xlink:href="#icon-arrow-up"></use>
            </svg>
            Back to top
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>