a {
  @include links-underline;
}

strong {
  font-weight: $font-weight-bold;
}

.icon {
  fill: $color-gray-medium;
}

.image-inline {
  display: block;
  margin-bottom: rem-calc(10);

  &.image-left {
    @include breakpoint(medium) {
      float: left;
      margin: rem-calc(0 40 20 0);
    }
  }

  &.image-right {
    @include breakpoint(medium) {
      float: right;
      margin: rem-calc(0 0 20 40);
    }
  }
}

.figure {
  @include box-shadow;
  background-color: $color-gray-dark;
  margin: rem-calc(20 0);
  text-align: center;
  // display: flex;
  // flex-flow: column wrap;
}

.figure-image {}

.figure-caption {
  background-color: $color-gray-dark;
  color: $color-white;
  font-style: italic;
  padding: rem-calc(10 20);

  p {
    margin-bottom: 0;
  }
}

.block-grid {
  margin: rem-calc(20 0);
}

.block-grid-3col {
  text-align: center;

  .svg {
    fill: $color-gray-medium;
  }
}

.list-pipes {
  @include list-reset;
  display: flex;
  flex-flow: row wrap;

  > li {
    position: relative;

    &::after {
      background-color: rgba($color-gray-medium, .5);
      content: '';
      display: inline;
      height: rem-calc(16);
      left: 100%;
      position: absolute;
      top: 25%;
      width: rem-calc(1);
    }

    > a {
      display: block;
      line-height: 1;
      padding: rem-calc(4 16);
    }
  }
}

.icon-2col {
  > .cell {
    @include breakpoint(medium) {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

.icon-2col-media {
  text-align: center;
  @include breakpoint(medium) {
    flex: 0 0 rem-calc(100);
    text-align: left;
  }
}

.icon-2col-content {
  @include breakpoint(medium) {
    flex: 0 0 85%;
  }
}

.svg-sprite {
  display: none;
}