.menu-toggle {
  .svg {
    fill: $color-gray-dark;
  }
}

.site-nav-offcanvas {
  background-color: $color-brand-blue;

  @include breakpoint(large) {
    width: 100% !important;
  }

  .close-button {
    font-size: 0;
    right: rem-calc(16);
    top: rem-calc(16);

    .svg {
      fill: $color-white;
    }
  }
}

.site-nav {}

.site-nav-list {}

.site-nav-title {
  color: $color-white;
  font-size: rem-calc(16);
  font-weight: $font-weight-light;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: rem-calc(16);

  @include breakpoint(large) {
    display: none;
  }
}

.button {

  &.is-active,
  &:focus,
  &:hover {
    @include transition(all 100ms ease-in-out);
    // background-color: saturate(darken($color-brand-blue, 15), 5);
    background-color: $color-brand-yellow;
    color: $color-gray-dark;
    text-decoration: none;
  }
}

.menu-label {
  position: relative;
  text-transform: uppercase;

  +.menu-active {}

  .svg {
    fill: currentColor;
    height: rem-calc(16);
    position: absolute;
    right: rem-calc(20);
    top: rem-calc(20);
    width: rem-calc(16);

    @include breakpoint(large) {
      top: rem-calc(5);
      right: rem-calc(-20);
    }
  }
}

.menu-lvl-1 {
  @include list-reset;

  @include breakpoint(large) {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  >li {
    border-bottom: rem-calc(1) solid rgba($color-white, .5);
    position: relative;

    &:not(.has-children) {
      @include breakpoint(large) {
        margin-right: rem-calc(30);
      }
    }

    &.has-children {
      @include breakpoint(large) {
        margin-right: rem-calc(60);
      }
    }

    &:last-child {
      @include breakpoint(large) {
        margin-right: 0;
      }

      >a {
        text-transform: uppercase;
      }
    }

    >a:not(.button) {
      color: $color-white;
      display: block;
      font-weight: $font-weight-bold;
      padding: rem-calc(16);

      @include breakpoint(large) {
        border-bottom: rem-calc(4) solid transparent;
        color: $color-brand-blue;
        padding: 0;
        text-decoration: none;
      }

      &.is-active,
      &:focus,
      &:hover {
        background-color: $color-brand-yellow;
        color: $color-brand-blue;

        @include breakpoint(large) {
          @include links-underline-active;
          background-color: transparent;
        }
      }
    }

    >a.button {
      margin-bottom: 0;
      padding: rem-calc(16);
      text-align: left;
      width: 100%;
    }

    // &.has-children {
    //   >a {
    //     padding-bottom: 0;
    //   }
    // }
  }
}

.menu-lvl-2 {
  @include list-reset;

  @include breakpoint(large) {
    background-color: $color-brand-blue;
    display: none;
    left: auto;
    position: absolute;
    top: 100%;
    width: rem-calc(200);
  }

  >li {
    border-top: rem-calc(1) dashed rgba($color-white, .25);

    >a {
      color: $color-white;
      display: block;
      padding: rem-calc(10);

      &.is-active,
      &:focus,
      &:hover {
        color: $color-brand-yellow;

        @include breakpoint(large) {
          background-color: $color-brand-yellow;
          color: $color-brand-blue;
        }
      }

      &.is-indented {
        padding-left: rem-calc(32);
      }
    }
  }
}

.icon-rotated {
  @include transition(all 250ms ease-in-out);
  @include transform(rotate(180deg));
}

.breadcrumbs {
  li {
    font-size: rem-calc(14);
  }
}

.js-off-canvas-overlay {
  background-color: rgba($color-black, .75);
}