.site-wrapper {
  overflow: hidden;
}

.site-header {
  @include box-shadow;
  background-color: $color-white;
  padding: rem-calc(16 0);
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 50;
}
@media all and (-ms-high-contrast:none) {
  // IE11 needs higher z-index to make header appear on top of all things
  .site-header {
    z-index: 100;
  }
}

.site-header.is-down,
.site-header.is-up {
  @include transition(top 100ms ease-in-out);
}

.site-header.is-down {
  top: 0;
}

.site-header.is-up {
  top: rem-calc(-300) !important;
}

.site-header-grid {
  align-items: center;
  justify-content: space-between;
}

.site-header-link {
  display: block;
}

.site-logo {
  height: rem-calc(50);
  width: rem-calc(225);
}

.section {
  @include section-padding;
}

.section-tinted {
  background-color: tint($color-gray-light, 85%);
}