<header class="page-header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1 class="title-primary">Blong's Work</h1>
            </div>
        </div>
    </div>
</header>

<section class="section">
    <div class="grid-container">
        <header class="section-header">
            <div class="grid-x">
                <div class="cell">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="../">Home</a></li>
                            <li><a href="/work/">Work</a></li>
                            <li>
                                <span class="show-for-sr">Current: </span> Article
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <h2 class="title-secondary">Community Gardens: Saving $1 Million While Improving the Landscape</h2>
                <img class="photo-right" src="{{root}}assets/img/work/work-community-gardens.jpg" alt="Blong working in community garden">
                <p>Minneapolis had over 300 vacant lots. Each lot costs the City $3600 per year in maintenance. The City was paying over $1 million per year to cut grass and shovel the sidewalks for these vacant lots.</p>
                <p>&#8220;Growing up Hmong, we would garden on any soil we had access to. I knew the community I served would love to have more space to grow gardens with fresh fruits and vegetables. So we took these empty lots, and allowed community members to lease them for $1 a year. The deal was they would have to submit a simple plan, and maintain he lot the entire year (mowing, shoveling, gardening),&#8221; said Blong.</p>
                <p>It was a huge success! Not only did the city save over a million dollars from 2015-2018, residents were able to garden and grow fresh produce. The vacant lots in Minneapolis received a beautiful makeover too, making community members proud of their neighborhoods!</p>
                <p>The County has over 100 vacant lots, many in North Minneapolis. As county commissioner, Blong will expand this program and turn every vacant lot into an opportunity to build community and save your tax dollars!</p>
            </div>
            <div class="cell">
                <h2 class="title-secondary">A Peek at Hmong Community Gardens in North Minneapolis</h2>
                <figure class="basic-figure-video">
                    <div class="video-schema" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
                        <h2 class="video-schema-title show-for-sr" itemprop="name">A Peek at Hmong Community Gardens in North Minneapolis</h2>
                        <meta itemprop="duration" content="T07M56S">
                        <meta itemprop="thumbnailUrl" content="http://i3.ytimg.com/vi/8u2hOv45QeM/maxresdefault.jpg">
                        <meta itemprop="embedURL" content="https://www.youtube.com/embed/8u2hOv45QeM">
                        <meta itemprop="uploadDate" content="2016-10-04T08:00:00+06:00">
                        <meta itemprop="height" content="688">
                        <meta itemprop="width" content="960">
                        <div class="responsive-embed widescreen">
                            <iframe width="960" height="688" src="https://www.youtube.com/embed/8u2hOv45QeM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                        </div>
                        <figcaption class="basic-figcaption">
                            <p itemprop="description">This short film is about community gardens and how Hmong residents have participated in the City of Minneapolis' Garden Lease Program. The City of Minneapolis approved new policies and criteria for leasing vacant City-owned lots for community gardens, market gardens and urban farms as well as additional eligible lots for lease. New lots were offered for lease in early 2016 in a priority process as part of the pilot year for the new policies. Remaining lots are now available on a first come, first served basis.</p>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>


