<header class="page-header">
  <div class="grid-container">
      <div class="grid-x">
          <div class="cell">
              <h1 class="title-primary">Blong's Work</h1>
          </div>
      </div>
  </div>
</header>

<section class="section">
  <div class="grid-container">
      <header class="section-header">
          <div class="grid-x">
              <div class="cell">
                  <nav aria-label="You are here:" role="navigation">
                      <ul class="breadcrumbs">
                          <li><a href="../">Home</a></li>
                          <li><a href="/work/">Work</a></li>
                          <li>
                              <span class="show-for-sr">Current: </span> Article
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </header>

      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
            <h2 class="title-secondary">Public Safety, A Critical Function of Government</h2>
            <p>Responsive emergency services are cornerstones of our communities and they are a top priority for Blong Yang!</p>
            <p>While he was Chair of the Public Safety, Civil Rights, and Emergency Management Committee of the Minneapolis City Council, Blong rode along with police officers in every precinct.</p>
            <p>“Meeting police officers gave me a real feeling for their work. I saw the officers working with people in need, and I saw them keeping people safe. They are good citizens themselves and they work to build good relationships with the people they serve. I have great respect for what they do,” said Blong.</p>
            <p>He worked hard to increase the number of police officers, firefighters, and 911 dispatchers. As a result, response times decreased across Minneapolis.</p>
            <p>In a diverse city like Minneapolis, continual training is essential. Blong helped to secure funding for implicit bias / procedural justice training and for body cameras in Minneapolis. With more training and more information, the police force continues to serve Minneapolis.</p>
            <p>As a result of his good work on public safety, Blong has earned the endorsement of the Hennepin County Sheriff’s Deputies Association. In their endorsement, they stated, “Blong knows what it takes to build and maintain good partnerships that ensure safety in every city across Hennepin County. Blong has experience overseeing 911, law enforcement, and emergency planning.”</p>
            <p>As a Hennepin County Commissioner, Blong will continue working with all of the communities in Hennepin County to make sure our shared emergency services work for all.</p>
          </div>
        </div>
    </div>
</section>