<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="title-primary">Blong's Work</h1>
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
              <li><a href="../">Home</a></li>
              <li><a href="/work/">Work</a></li>
              <li>
                <span class="show-for-sr">Current: </span> Article
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <h2 class="title-secondary">Hennepin County, a Leader in Mental Health Treatment</h2>
        <p>Forward thinking policies and programs can alleviate suffering and increase safety. And it can be accomplished by focusing county resources optimally.</p>
        <p>“If elected county commissioner, I will assure that Hennepin County is putting its money where it will do the most good by supporting critical mental health projects,” said Blong.</p>
        <p>One such project is repurposing a building located in Plymouth. This is a $13M project that will result in more beds to support our county’s most vulnerable and neediest citizens. A second critical project is expanding the facility at 1800 Chicago Avenue. This will make a variety of services, including a residential substance abuse residential treatment program, easily accessible.</p>
        <p>“My experience with mental health comes first-hand as I witnessed family members coming to this country as refugees. While in private practice, I also served on the Hennepin County Bar Association’s Commitment Defense Panel, representing clients in the civil commitment process. I visited clients at Anoka Metro Regional Treatment Center, St. Peter Regional Treatment Center, and psychiatric wards in hospitals,” stated Blong.</p>
        <p>The July 6th <a class="links-external" href="www.startribune.com/man-with-mental-illness-languishes-in-hennepin-county-jail-for-3-months/487453671/" target="_blank">StarTribune article {{> svg-link-external }}</a> tells the story of a man suffering from severe mental illness who was held for 92 days at the Hennepin County jail without access to proper medical treatment. The article states that as many as a quarter of the inmates in county jails across Minnesota suffer from a diagnosed mental illness. Hennepin County is addressing the severe shortage of psychiatric beds by repurposing an existing workhouse building in Plymouth.</p>
        <p>Humane and caring treatment for persons with mental illness is the responsibility of county governments here in Minnesota.  We can do better, and Blong can help make it happen as county commissioner.</p>
        <p>For more on Blong’s views on mental health issues, please visit the NAMI Forum on Mental Health here: <a class="links-external" href="https://www.youtube.com/watch?v=ykII5gD48ZA&feature=youtu.be" target="_blank">https://www.youtube.com/watch?v=ykII5gD48ZA&feature=youtu.be {{> svg-link-external }}</a>
        </p>
      </div>
    </div>
  </div>
</section>