<section class="section {{section-modifier}}" id="{{section-id}}">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="section-title-primary">About</h1>
        <h2 class="section-title-secondary">Biography</h2>
        <p>Blong’s story starts in a refugee camp in Thailand. He was born shortly after the end of the Vietnam War to refugee parents who risked persecution for siding with the Americans in Laos. In 1980, he and his family came to the United States as
          <span data-tooltip tabindex="1" title="Originally from Laos, the Hmong supported American troops during the Vietnam War.  Beginning in 1976 and continuing in five waves until 2006, most Hmong have come to the United States as political refugees.">political refugees</span>.
          They first settled in Lawton, OK with the help of the Catholic Church. New to the country, they struggled with language, poverty, public assistance, and other challenges that many immigrants face. They benefited from the kindness of many, including
          churches and neighbors.</p>

        <figure class="figure">
          <img class="figure-image" src="assets/img/blong-refugee-small.jpg" data-interchange="[assets/img/blong-refugee-small.jpg, small], [assets/img/blong-refugee-large.jpg, large]" alt="Photo of young Blong in refugree camp" />
          <figcaption class="figure-caption">
            <p>Young Blong in refugee camp</p>
          </figcaption>
        </figure>
      </div>
      <div class="cell">
        <p>Like other new Americans, his parents taught him that education was the key to achieving the American Dream. Despite language, poverty, and other challenges, he graduated from the University of California, Los Angeles (UCLA) and then finished
          his law degree from the University of Minnesota. His first job out of law school was at the Legal Aid Society of Minneapolis, advocating for limited English proficiency persons in the areas of housing and social services. After Legal Aid, he
          opened a solo law practice to help those who didn’t qualify for legal aid services but needed representation. He served on the Commitment Defense Panel of the Hennepin County Bar Association where he represented people in danger of being committed
          for mental illness and/or chemical dependency. He then worked as an investigator with the Minneapolis Department of Civil Rights.</p>

        <p>Wanting to make a difference in people’s lives on a larger scale, Blong ran for the Hennepin County Board in 2012. Although he didn’t win as a first-time candidate, his dream of making a positive change came true in 2013 when he ran for City Council.
          His grassroots campaign beat out three others to be the first Hmong person elected to the Minneapolis City Council. At the City Council, he chaired the Public Safety, Civil Rights & Emergency Management Committee. His accomplishments during
          his tenure include the following:</p>

        <div class="grid-x grid-padding-x grid-padding-y block-grid block-grid-3col small-up-1 medium-up-3">
          <div class="cell cell-block">
            <svg class="svg icon-home">
              <use xlink:href="#icon-home"></use>
            </svg>
            <h3 class="section-title-tertiary">Housing</h3>
            <p>Spearheaded the Infill Housing Program to build new homes on 300 city-owned empty lots with $1.5 million for a pilot first year and resurrected the $1 Housing Program (Vacant Housing Recycling Program) which saved almost 100 houses from demolition
              and converted them into new rehabbed homes, putting them back on the tax rolls;</p>
          </div>
          <div class="cell cell-block">
            <svg class="svg icon-person-shield">
              <use xlink:href="#icon-person-shield"></use>
            </svg>
            <h3 class="section-title-tertiary">Public Safety</h3>
            <p>Secured funding for body cameras and implicit bias / procedural justice training for police officers; increased staffing for 911, police, and fire; and</p>
          </div>
          <div class="cell cell-block">
            <svg class="svg icon-skyscraper">
              <use xlink:href="#icon-skyscraper"></use>
            </svg>
            <h3 class="section-title-tertiary">Economic Development</h3>
            <p>Brought in over $100 million in development to the Ward he represented; helped to create over 300 jobs, some of which went to Northsiders; and assisted the start-up of three brewery small businesses.</p>
          </div>
        </div>
      </div>
      <div class="cell">
        <figure class="figure">
          <img class="figure-image" src="assets/img/blong-family-small.jpg" data-interchange="[assets/img/blong-family-small.jpg, small], [assets/img/blong-family-large.jpg, large]" alt="Photo of Blong with wife Mai Neng Moua, and daughters, Erica (10) and Samantha (8)"
          />
          <figcaption class="figure-caption">
            <p>Blong with wife Mai Neng Moua, and daughters, Erica (10) and Samantha (8)</p>
          </figcaption>
        </figure>

        <p>Blong is married to Mai Neng Moua, the author of <a class="link-external" href="www.mnhs.org/mnhspress/books/bride-price" target="_blank">The Bride Price: A Hmong Wedding Story</a>. They live in North Minneapolis with their two daughters, Erica
          (10) and Samantha (8), who both attend Bryn Mawr Elementary, a public school. In his spare time, he loves to fish.</p>

        <figure class="figure">
          <img class="figure-image" src="assets/img/blong-fishing-small.jpg" alt="Photo of Blong holding his Northern Pike catch" />
          <figcaption class="figure-caption">
            <p>Blong holding his Northern Pike catch</p>
          </figcaption>
        </figure>

      </div>
    </div>
  </div>

</section>