.icon-arrow-up {
  width: 8.94px;
  height: 5.22px;
}

.icon-bars {
  width: 28px;
  height: 24.5px;
}

.icon-brand-paypal {
  width: 72px;
  height: 56px;
}

.icon-bus {
  width: 64px;
  height: 64px;
}

.icon-email {
  width: 64px;
  height: 48px;
}

.icon-hand-dollar {
  width: 67.94px;
  height: 64px;
}

.icon-hands-heart {
  width: 80px;
  height: 57.79px;
}

.icon-home {
  width: 71.89px;
  height: 56px;
}

.icon-person-shield {
  width: 80px;
  height: 64px;
}

.icon-persons-trio {
  width: 80px;
  height: 56px;
}

.icon-phone-mobile {
  width: 40px;
  height: 64px;
}

.icon-quote-left {
  width: 32px;
  height: 28px;
}

.icon-quote-right {
  width: 32px;
  height: 28px;
}

.icon-skyscraper {
  width: 56px;
  height: 64px;
}

.icon-x {
  width: 11px;
  height: 11px;
}

.site-logo {
  width: 701.87px;
  height: 130.93px;
}
.fill-blue { fill: #22409a; }
.fill-gray-medium { fill: #666; }
.fill-yellow { fill: #fede17; }

