<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="title-primary">News/Events</h1>
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h3 class="title-tertiary">VIDEOS</h3>
        <ul class="list-events">
          <li>
            <h2 class="title-secondary">Blong Yang on this week's episode of Motivation with Ron Henderson</h2>
            <figure class="basic-figure-video">
              <div class="video-schema" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
                <h2 class="video-schema-title show-for-sr" itemprop="name">Blong Yang on this week's episode of Motivation with Ron Henderson</h2>
                <meta itemprop="duration" content="T28M13S">
                <meta itemprop="thumbnailUrl" content="http://i3.ytimg.com/vi/gYj8ilIMXoc/maxresdefault.jpg">
                <meta itemprop="embedURL" content="https://www.youtube.com/embed/gYj8ilIMXoc">
                <meta itemprop="uploadDate" content="2018-09-13T08:00:00+06:00">
                <meta itemprop="height" content="688">
                <meta itemprop="width" content="960">
                <div class="responsive-embed widescreen">
                  <iframe width="960" height="688" src="https://www.youtube.com/embed/gYj8ilIMXoc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <figcaption class="basic-figcaption">
                  <p itemprop="description">This episode of motivation Motivational speaker Ron Henderson  aka "The Fitness King" get's up close and personal with Blong Yang, who is running for Hennepin county commissioner in district 2</p>
                </figcaption>
              </div>
            </figure>
          </li>
          <li>
            <h2 class="title-secondary">Our campaign video</h2>
            <figure class="basic-figure-video">
              <div class="video-schema" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
                <h2 class="video-schema-title show-for-sr" itemprop="name">Blong Yang for HC Commissioner</h2>
                <meta itemprop="duration" content="T0M59S">
                <meta itemprop="thumbnailUrl" content="http://i3.ytimg.com/vi/embed/HZ3F3z8E0hM/maxresdefault.jpg">
                <meta itemprop="embedURL" content="https://www.youtube.com/embed/HZ3F3z8E0hM">
                <meta itemprop="uploadDate" content="2018-07-20T08:00:00+06:00">
                <meta itemprop="height" content="688">
                <meta itemprop="width" content="960">
                <div class="responsive-embed widescreen">
                  <iframe width="960" height="688" src="https://www.youtube.com/embed/HZ3F3z8E0hM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <figcaption class="basic-figcaption">
                  <p itemprop="description">Blong Yang, North Minneapolis resident, is running for Hennepin County Commissioner in District 2. Blong explains what a county commissioner does.</p>
                </figcaption>
              </div>
            </figure>
          </li>
          <li>
            <h2 class="title-secondary">Hennepin County Comissioner District 2 primary candidates forum</h2>
            <figure class="basic-figure-video">
              <div class="video-schema" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
                <h2 class="video-schema-title show-for-sr" itemprop="name">Hennepin county commissioner dist 2 primary candidates forum</h2>
                <meta itemprop="duration" content="T1H21M01S">
                <meta itemprop="thumbnailUrl" content="http://i3.ytimg.com/vi/embed/P-ACTYIMjAI/maxresdefault.jpg">
                <meta itemprop="embedURL" content="https://www.youtube.com/embed/P-ACTYIMjAI">
                <meta itemprop="uploadDate" content="2018-07-31T08:00:00+06:00">
                <meta itemprop="height" content="688">
                <meta itemprop="width" content="960">
                <div class="responsive-embed widescreen">
                  <iframe width="960" height="688" src="https://www.youtube.com/embed/P-ACTYIMjAI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                </div>
                <figcaption class="basic-figcaption">
                  <p itemprop="description">Recorded July 30, 2018 at Golden Valley City Hall<br />Sponsored by the Golden Valley League of Women Voters</p>
                </figcaption>
              </div>
            </figure>
          </li>
        </ul>
      </div>
      <div class="cell">
        <h3 class="title-tertiary">ARTICLES/PUBLICATIONS</h3>
        <ul class="list-events">
          <li>
            <h2 class="title-secondary">
              <a class="links-external" href="https://static1.squarespace.com/static/581f9337893fc0263969bf43/t/5baba1e2e79c70c26ad2aef5/1537974857963/180927_North+News_Final_For+Web.pdf" target="_blank">"North Minneapolis Residents Support Blong in Sept 28th issue of North News"
              <svg class="svg icon-link-external">
                <use xlink:href="#icon-link-external"></use>
              </svg></a>
            </h2>
          </li>
          <li>
            <h2 class="title-secondary">
              <a class="links-external" href="https://www.nst.com.my/opinion/columnists/2018/08/402914/malaysian-perspective" target="_blank">"A Malaysian perspective"
              <svg class="svg icon-link-external">
                <use xlink:href="#icon-link-external"></use>
              </svg></a>
            </h2>
            <p>The act of voting is powerful, not only in changing the country and how it is being run, but also in bringing people together.</p>
            <p><em>By Lidiana Rosli</em></p>
          </li>
          <li>
            <h2 class="title-secondary">
              <a href="https://www.mynortheaster.com/news/five-seek-hennepin-district-2-commissioner-post/" class="links-external" target="_blank">"Five seek Hennepin District 2 Commissioner", <em>Northeaster Newspaper</em>
                <svg class="svg icon-link-external"><use xlink:href="#icon-link-external"></use></svg>
              </a>
            </h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>