<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h1 class="section-title-primary">Endorsements</h1>
          <h1 class="section-title-secondary">Who Supports Blong?</h1>
        </div>
      </div>
    </header>
    <div class="grid-x grid-padding-x grid-padding-y quotes-2col">
      <div class="cell">
        <div class="quotes-2col-media">
          <img class="image-inline" src="assets/img/endorsements/endorse-dahlman-small.jpg" data-interchange="[assets/img/endorsements/endorse-dahlman-small.jpg, small], [assets/img/endorsements/endorse-dahlman-large.jpg, large]" alt="Photo of young Blong in refugree camp" />
        </div>
        <div class="quotes-2col-content">
          <p>Dennis & Valerie Dahlman, Golden Valley</p>

          <blockquote>
            <svg class="svg icon icon-quote-left">
              <use xlink:href="#icon-quote-left"></use>
            </svg>
            <p>We are very confident Blong will be an outstanding Hennepin County Commissioner. We admire his commitment, compassion, inclusiveness and judgment as a political leader. His courage and integrity will serve us well. He listens and then acts.
              He will be an effective voice for positive change.</p>
            <svg class="svg icon icon-quote-right">
                <use xlink:href="#icon-quote-right"></use>
              </svg>
          </blockquote>
        </div>
      </div>
      <div class="cell">
        <div class="quotes-2col-media">
          <svg class="svg icon icon-hand-dollar">
            <use xlink:href="#icon-hand-dollar"></use>
          </svg>
        </div>
        <div class="quotes-2col-content">
          <h2 class="section-title-secondary">Delivering Value for Your Tax Dollars</h2>

          <p>I will ensure that safety net social services with Health and Human Services are a hand up when needed.</p>

          <p>As the former Chair of the Minneapolis City Council Public Safety Committee, I know what it takes to build and maintain good partnerships to ensure safety in every city across this county. Safe and reliable services such as 911, law enforcement,
            and emergency planning are one of the areas where I have experience overseeing budget and planning.</p>

          <p>I believe in innovation creating value. For example, some state services that are administered by Hennepin County operate on older state programs and systems. Working with the state to update these systems would create efficiencies that would
            save residents tax dollars and time. Innovation is also residents sharing their ideas for improvements. I will have an open-door policy. I will expand engagement with our communities to ensure services are aligned with community needs.</p>
        </div>
      </div>
      <div class="cell">
        <div class="quotes-2col-media">
          <svg class="svg icon icon-bus">
            <use xlink:href="#icon-bus"></use>
          </svg>
        </div>
        <div class="quotes-2col-content">
          <h2 class="section-title-secondary">Transportation that Serves Everyone</h2>

          <p>Demographic changes and our regional economy require a strong transportation system. Having a transportation system that gets people to work helps our region remain economically competitive with top employers. Investment in smart technology
            also guarantees we have a top transportation system. Whether light rail, roads and bridges, or a bicycle network, I have the experience to move these initiatives forward in partnership with business, government and other partners.</p>
        </div>
      </div>
      <div class="cell">
        <div class="quotes-2col-media">
          <svg class="svg icon icon-persons-trio">
            <use xlink:href="#icon-persons-trio"></use>
          </svg>
        </div>
        <div class="quotes-2col-content">
          <h2 class="section-title-secondary">Preparing for the Future</h2>

          <p>We all hope for a better future for our children and grandchildren. I will continue the good work of Hennepin County to build that future for our residents. The number of people of color and seniors will increase significantly in the coming
            years and we must be prepared to meet their needs. The experience I gained as a City Council Member will be fully transferrable to the Hennepin County Board to prepare for the future. For example, working with the community, I led two programs
            that created over 100 units of new and rehabbed housing on vacant lots and homes to meet the growing housing needs of the community. My knowledge and experience with these programs would dovetail nicely as Hennepin County leads its new programs
            to rehabilitate homes using small, women and minority-owned businesses. </p>
        </div>
      </div>
    </div>
  </div>
</section>