<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="title-primary">Issues</h1>
      </div>
    </div>
  </div>
</header>


<section class="section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y icon-2col">
      <div class="cell">
        <div class="icon-2col-media">
          <svg class="svg icon icon-hands-heart">
            <use xlink:href="#icon-hands-heart"></use>
          </svg>
        </div>
        <div class="icon-2col-content">
          <h2 class="title-secondary">Caring for People at Every Stage of Life</h2>
          <p><strong>As Hennepin County Commissioner, I will serve and protect people at every stage of life.</strong> I will help them get services by making the county easy to understand and easy to use.</p>
          <p>I will advocate for families and children to get the supports they need to live healthy lives. I will make sure service members, veterans, survivors and family members can efficiently navigate the Veterans Administration benefits system with Hennepin County Veterans’ Services. I will make sure seniors and their families know the resources available to help them from the county, state, and federal governments.</p>
        </div>
      </div>
      <div class="cell">
        <div class="icon-2col-media">
          <svg class="svg icon icon-hand-dollar">
            <use xlink:href="#icon-hand-dollar"></use>
          </svg>
        </div>
        <div class="icon-2col-content">
          <h2 class="title-secondary">Delivering Value for Your Tax Dollars</h2>
          <p>I will ensure that safety net social services with Health and Human Services are a hand up when needed.</p>
          <p>As the former Chair of the Minneapolis City Council Public Safety Committee, I know what it takes to build and maintain good partnerships to ensure safety in every city across this county. <strong>Safe and reliable services such as 911, law enforcement, and emergency planning are one of the areas where I have experience overseeing budget and planning.</strong></p>
          <p>I believe in innovation creating value. For example, some state services that are administered by Hennepin County operate on older state programs and systems. Working with the state to update these systems would create efficiencies that would save residents tax dollars and time.</p>
          <p>Innovation is also residents sharing their ideas for improvements. I will have an open-door policy. I will expand engagement with our communities to ensure services are aligned with community needs.</p>
        </div>
      </div>
      <div class="cell">
        <div class="icon-2col-media">
          <svg class="svg icon icon-bus">
            <use xlink:href="#icon-bus"></use>
          </svg>
        </div>
        <div class="icon-2col-content">
          <h2 class="title-secondary">Transportation that Serves Everyone</h2>
          <p>Demographic changes and our regional economy require a strong transportation system. <strong>Having a transportation system that gets people to work helps our region remain economically competitive with top employers.</strong> Investment in smart technology also guarantees we have a top transportation system. Whether light rail, roads and bridges, or a bicycle network, I have the experience to move these initiatives forward in partnership with business, government and other partners.</p>
        </div>
      </div>
      <div class="cell">
        <div class="icon-2col-media">
          <svg class="svg icon icon-persons-trio">
            <use xlink:href="#icon-persons-trio"></use>
          </svg>
        </div>
        <div class="icon-2col-content">
          <h2 class="title-secondary">Preparing for the Future</h2>
          <p>We all hope for a better future for our children and grandchildren. I will continue the good work of Hennepin County to build that future for our residents. The number of people of color and seniors will increase significantly in the coming years and we must be prepared to meet their needs. <strong>The experience I gained as a City Council Member will be fully transferrable to the Hennepin County Board to prepare for the future.</strong> For example, working with the community, I led two programs that created over 100 units of new and rehabbed housing on vacant lots and homes to meet the growing housing needs of the community. My knowledge and experience with these programs would dovetail nicely as Hennepin County leads its new programs to rehabilitate homes using small, women and minority-owned businesses.</p>
        </div>
      </div>
    </div>
  </div>
</section>