<header class="page-header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1 class="title-primary">Blong's Work</h1>
            </div>
        </div>
    </div>
</header>

<section class="section">
    <div class="grid-container">
        <header class="section-header">
            <div class="grid-x">
                <div class="cell">
                    <h2 class="title-secondary">Most Recent Works</h2>
                </div>
            </div>
        </header>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <ul>
                    <li>
                        <a href="work-community-gardens.html">Community Gardens: Saving $1 Million While Improving the Landscape</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>