<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h1 class="section-title-primary">Endorsements</h1>
          <h2 class="section-title-secondary">Who Supports Blong?</h2>
        </div>
      </div>
    </header>
    <div class="grid-x grid-padding-x grid-padding-y quotes-2col">
      {{#each data-endorsements.quotes}}
      
        {{#ifpage "endorsements"}}
          {{#each this.quotes-endorsements}}
          <div class="cell">
            <div class="quotes-2col-media">
              <img class="image-inline" src="{{this.quotes-image}}-small.jpg" data-interchange="[{{this.quotes-image}}-small.jpg, small], [{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <p class="quotes-2col-attribute">{{this.quotes-attribute}}</p>
              <blockquote>
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                    <use xlink:href="#icon-quote-right"></use>
                  </svg>
              </blockquote>
            </div>
          </div>
          {{/each}}
        {{/ifpage}}
        
      {{/each}}
    </div>
  </div>
</section>