<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        {{> callout-voting }}
      </div>
    </div>
  </div>
</header>

<div class="section">
  <div class="grid-container">
    <div class="grid-x align-middle quotes-2col quotes-2col-dark">
      <div class="cell">
        <div class="quotes-2col-content">
          <h2 class="title-secondary margin-less">Why am I running for County Commissioner?</h2>
        </div>
      </div>
      <div class="cell medium-8">
        <div class="quotes-2col-content">
          <blockquote class="blockquote">
            <svg class="svg icon icon-quote-left">
              <use xlink:href="#icon-quote-left"></use>
            </svg>
            <p>As the oldest son of poor Hmong refugees, I was a recipient of many county services growing up. I’ve spent my career helping people navigate the system as an attorney, advocate, and elected official. After my four years on the Minneapolis City Council, I understand the possibilities and limitations of government. And I believe that government needs to work for everyone. That’s why I’m running for Hennepin County Commissioner. With my background and experience, I am uniquely positioned to provide a voice on the County Board that is representative of the diverse constituents served by Hennepin County. I would be honored to serve as your Hennepin County Commissioner in District 2. I ask for your vote.</p>
            <svg class="svg icon icon-quote-right">
              <use xlink:href="#icon-quote-right"></use>
            </svg>
          </blockquote>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="quotes-2col-media">
          <img class="image-inline" src="assets/img/blong-profile-small.jpg" alt="Profile photo of Blong Yang" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-container">
    <div class="grid-x align-middle quotes-2col quotes-2col-dark quotes-2col-large">
      <div class="cell medium-6 large-7">
        <div class="quotes-2col-media">
          <img class="image-inline" src="assets/img/group-shot-small.jpg" data-interchange="[assets/img/group-shot-small.jpg, small], [assets/img/group-shot-large.jpg, medium]" alt="Group photo of Blong Yang supporters">
        </div>
      </div>
      <div class="cell medium-6 large-5">
        <div class="quotes-2col-content">
          <blockquote class="blockquote">
            <svg class="svg icon icon-quote-left">
              <use xlink:href="#icon-quote-left"></use>
            </svg>
            <p>We support Blong and we encourage you to do the same.</p>
            <svg class="svg icon icon-quote-right">
              <use xlink:href="#icon-quote-right"></use>
            </svg>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x grid-margin-y">
        <div class="cell">
          <h2 class="title-secondary">About Hennepin County & County Commissioner</h2>
        </div>
      </div>
    </header>

    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell medium-6">
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="cell">
            <h3 class="title-tertiary">Hennepin County</h3>
            <p>Hennepin County has seven commissioners elected from seven separate districts. Each commissioner represents a district of equal population: approximately 165,000 people per district.</p>
          </div>
          <div class="cell">
            <h3 class="title-tertiary">Budget</h3>
            <p>The 2018 Hennepin County budget totals $2.4 billion. See Budget: <a href="https://www.hennepin.us/your-government/budget-finance/budgets" target="_blank" class="links-external">https://www.hennepin.us/your-government/budget-finance/budgets <svg class="svg icon-link-external">
              <use xlink:href="#icon-link-external"></use>
            </svg></a>.</p>
          </div>
          <div class="cell">
            <h3 class="title-tertiary">Role of County Commissioner</h3>
            <p>The role of a county commissioner includes the following:</p>
            <ul>
              <li>Set policy</li>
              <li>Approve the budget</li>
              <li>Constituent issues</li>
              <li>Regional / intergovernmental relations</li>
            </ul>

            <p>For more information on why the county is important, see the Hennepin County 101 presentation by Jan Callison, Hennepin County Commissioner, Chair: <a href="https://m.youtube.com/watch?v=UzsEFH6BYW0" target="blank" class="links-external">https://m.youtube.com/watch?v=UzsEFH6BYW0 <svg class="svg icon-link-external">
              <use xlink:href="#icon-link-external"></use>
            </svg></a></p>
          </div>
        </div>
      </div>
      <div class="cell medium-6">
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="cell">
            <h3 class="title-tertiary">District 2 Map</h3>
            <img class="image-inline" src="assets/img/map-district-2.jpg" alt="Map of Hennepin County District 2">
            <p>Hennepin County District 2 stretches from St. Anthony in the east to Plymouth in the west and covers roughly a third of Minneapolis. It includes the following cities:</p>
            <ul>
              <li>Golden Valley</li>
              <li>Medicine Lake</li>
              <li>North & Northeast Minneapolis (including the Bryn Mawr and North Loop neighborhoods)</li>
              <li>Eastern Plymouth</li>
              <li>St. Anthony</li>
            </ul>
          </div>
          <div class="cell">
            <h3 class="title-tertiary">Find Your Commissioner/District</h3>
            <p><a href="http://www16.co.hennepin.mn.us/commissioner/" target="_blank" class="links-external">http://www16.co.hennepin.mn.us/commissioner/ <svg class="svg icon-link-external">
              <use xlink:href="#icon-link-external"></use>
            </svg></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>