<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="title-primary">Endorsements</h1>
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h2 class="title-secondary">Who Supports Blong?</h2>
        </div>
      </div>
    </header>

    {{#each data-endorsements-general.quotes}}
    {{#ifpage "endorsements"}}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        {{#each this.endorsements-general}}
          <div class="quotes-2col">
            <div class="quotes-2col-media">
              <img class="image-inline" src="../{{root}}assets/img/endorsements/endorse-{{this.quotes-image}}-small.jpg" data-interchange="[../{{root}}assets/img/endorsements/endorse-{{this.quotes-image}}-small.jpg, small], [../{{root}}assets/img/endorsements/endorse-{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <h3 class="quotes-2col-attribute">{{this.quotes-attribute}}</h3>
              <blockquote class="blockquote">
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                  <use xlink:href="#icon-quote-right"></use>
                </svg>
              </blockquote>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/ifpage}}
    {{/each}}

    {{#each data-endorsements-goldenvalley.quotes}}
    {{#ifpage "endorsements"}}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <h3 class="title-tertiary text-uppercase font-light">Supporters in Golden Valley</h3>
        {{#each this.endorsements-golden-valley}}
          <div class="quotes-2col">
            <div class="quotes-2col-media">
              <img class="image-inline" src="../{{root}}assets/img/endorsements/endorse-golden-valley-{{this.quotes-image}}-small.jpg" data-interchange="[../{{root}}assets/img/endorsements/endorse-golden-valley-{{this.quotes-image}}-small.jpg, small], [../{{root}}assets/img/endorsements/endorse-golden-valley-{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <h3 class="quotes-2col-attribute">{{this.quotes-attribute}}</h3>
              <blockquote class="blockquote">
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                  <use xlink:href="#icon-quote-right"></use>
                </svg>
              </blockquote>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/ifpage}}
    {{/each}}

    {{#each data-endorsements-mpls.quotes}}
    {{#ifpage "endorsements"}}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <h3 class="title-tertiary text-uppercase font-light">Supporters in Minneapolis</h3>
        {{#each this.endorsements-minneapolis}}
          <div class="quotes-2col">
            <div class="quotes-2col-media">
              <img class="image-inline" src="../{{root}}assets/img/endorsements/endorse-minneapolis-{{this.quotes-image}}-small.jpg" data-interchange="[../{{root}}assets/img/endorsements/endorse-minneapolis-{{this.quotes-image}}-small.jpg, small], [../{{root}}assets/img/endorsements/endorse-minneapolis-{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <h3 class="quotes-2col-attribute">{{this.quotes-attribute}}</h3>
              <blockquote class="blockquote">
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                  <use xlink:href="#icon-quote-right"></use>
                </svg>
              </blockquote>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/ifpage}}
    {{/each}}

    {{#each data-endorsements-plymouth.quotes}}
    {{#ifpage "endorsements"}}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <h3 class="title-tertiary text-uppercase font-light">Supporters in Plymouth</h3>
        {{#each this.endorsements-plymouth}}
          <div class="quotes-2col">
            <div class="quotes-2col-media">
              <img class="image-inline" src="../{{root}}assets/img/endorsements/endorse-plymouth-{{this.quotes-image}}-small.jpg" data-interchange="[../{{root}}assets/img/endorsements/endorse-plymouth-{{this.quotes-image}}-small.jpg, small], [../{{root}}assets/img/endorsements/endorse-plymouth-{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <h3 class="quotes-2col-attribute">{{this.quotes-attribute}}</h3>
              <blockquote class="blockquote">
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                  <use xlink:href="#icon-quote-right"></use>
                </svg>
              </blockquote>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/ifpage}}
    {{/each}}

    {{#each data-endorsements-stanthony.quotes}}
    {{#ifpage "endorsements"}}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell">
        <h3 class="title-tertiary text-uppercase font-light">Supporters in St. Anthony</h3>
        {{#each this.endorsements-stanthony}}
          <div class="quotes-2col">
            <div class="quotes-2col-media">
              <img class="image-inline" src="../{{root}}assets/img/endorsements/endorse-stanthony-{{this.quotes-image}}-small.jpg" data-interchange="[../{{root}}assets/img/endorsements/endorse-stanthony-{{this.quotes-image}}-small.jpg, small], [../{{root}}assets/img/endorsements/endorse-stanthony-{{this.quotes-image}}-large.jpg, large]" alt="Photo of {{this.quotes-image-alt}}" />
            </div>
            <div class="quotes-2col-content">
              <h3 class="quotes-2col-attribute">{{this.quotes-attribute}}</h3>
              <blockquote class="blockquote">
                <svg class="svg icon icon-quote-left">
                  <use xlink:href="#icon-quote-left"></use>
                </svg>
                <p>{{this.quotes-testimonial}}</p>
                <svg class="svg icon icon-quote-right">
                  <use xlink:href="#icon-quote-right"></use>
                </svg>
              </blockquote>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/ifpage}}
    {{/each}}

  </div>
</section>