<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h1 class="section-title-primary">Contact/Volunteer</h1>
          <h2 class="section-title-secondary">Contact Information</h2>
        </div>
      </div>
    </header>
    <div class="grid-x grid-margin-x grid-margin-y block-grid block-grid-3col small-up-1 medium-up-3">
      <div class="cell cell-block">
        <svg class="svg icon icon-home">
          <use xlink:href="#icon-home"></use>
        </svg>
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <p>
            Mailing address:<br />
            <span itemprop="streetAddress">3822 Lyndale Ave N,</span>
            <span itemprop="addressLocality">Minneapolis,</span>
            <span itemprop="addressRegion">MN</span>
            <span itemprop="postalCode">55412</span>
          </p>
        </div>
      </div>
      <div class="cell cell-block">
        <svg class="svg icon icon-email">
          <use xlink:href="#icon-email"></use>
        </svg>
        <p>
          <a href="mailto:Blongyang612@gmail.com">Email
          <br />Blongyang612@gmail.com</a>
        </p>
      </div>
      <div class="cell cell-block">
        <svg class="svg icon icon-phone-mobile">
          <use xlink:href="#icon-phone-mobile"></use>
        </svg>
        <p>
          <a href="tel:612-968-2504">Call
          <br />612-968-2504</a>
        </p>
      </div>
    </div>
  </div>
</section>