<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="callout secondary">
          <h1 class="title-primary">Vote for Blong on August 14, 2018 in the Primary</h1>
          <p>Early voting starts June 29, 2018. For more info, visit: <a href="https://www.hennepin.us/residents/elections/absentee-voting" target="_blank">https://www.hennepin.us/residents/elections/absentee-voting</a></p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section">
  <div class="grid-container">
    <div class="grid-x align-middle quotes-2col quotes-2col-dark">
      <div class="cell medium-8">
        <div class="quotes-2col-content">
          <blockquote class="blockquote">
            <svg class="svg icon icon-quote-left">
              <use xlink:href="#icon-quote-left"></use>
            </svg>
            <h2 class="title-secondary">Why am I running for County Commissioner?</h2>
            <p>As the oldest son of poor Hmong refugees, I have been a recipient of many county services. I’ve spent my professional career helping people navigate the system. I have experience as an advocate and elected official. I am uniquely positioned
              to provide a voice on the County Board that is representative of Hennepin County residents. I would be honored to serve as your Hennepin County Commissioner in District 2. I ask for your vote.</p>
            <svg class="svg icon icon-quote-right">
              <use xlink:href="#icon-quote-right"></use>
            </svg>
          </blockquote>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="quotes-2col-media">
          <img class="image-inline" src="assets/img/blong-profile-small.jpg" alt="Profile photo of Blong Yang" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid-container">
    <div class="grid-x align-middle quotes-2col quotes-2col-dark quotes-2col-large">
      <div class="cell medium-6 large-7">
        <div class="quotes-2col-media">
          <img class="image-inline" src="assets/img/group-shot-small.jpg" data-interchange="[assets/img/group-shot-small.jpg, small], [assets/img/group-shot-large.jpg, medium]" alt="Group photo of Blong Yang supporters">
        </div>
      </div>
      <div class="cell medium-6 large-5">
        <div class="quotes-2col-content">
          <blockquote class="blockquote">
            <svg class="svg icon icon-quote-left">
              <use xlink:href="#icon-quote-left"></use>
            </svg>
            <p>We support Blong and we encourage you to do the same.</p>
            <svg class="svg icon icon-quote-right">
              <use xlink:href="#icon-quote-right"></use>
            </svg>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>