<header class="page-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h1 class="section-title-primary">Contact/Volunteer</h1>
      </div>
    </div>
  </div>
</header>

<section class="section">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h2 class="section-title-secondary">Contact Information</h2>
        </div>
      </div>
    </header>
    <div class="grid-x grid-margin-x grid-margin-y block-grid block-grid-3col small-up-1 medium-up-3">
      <div class="cell cell-block">
        <svg class="svg icon icon-home">
          <use xlink:href="#icon-home"></use>
        </svg>
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <p>
            Mailing address:<br />
            <span itemprop="streetAddress">3822 Lyndale Ave N,</span>
            <span itemprop="addressLocality">Minneapolis,</span>
            <span itemprop="addressRegion">MN</span>
            <span itemprop="postalCode">55412</span>
          </p>
        </div>
      </div>
      <div class="cell cell-block">
        <svg class="svg icon icon-email">
          <use xlink:href="#icon-email"></use>
        </svg>
        <p>
          <a href="mailto:Blongyang612@gmail.com">Email
          <br />Blongyang612@gmail.com</a>
        </p>
      </div>
      <div class="cell cell-block">
        <svg class="svg icon icon-phone-mobile">
          <use xlink:href="#icon-phone-mobile"></use>
        </svg>
        <p>
          <a href="tel:612-968-2504">Call</a> or <a href="sms:612-968-2504">Text</a>
          <br />612-968-2504
        </p>
      </div>
    </div>
  </div>
</section>

<div class="section section-tinted">
  <div class="grid-container">
    <header class="section-header">
      <div class="grid-x">
        <div class="cell">
          <h2 class="section-title-secondary">How can I help?</h2>
        </div>
      </div>
    </header>

    <div class="grid-x">
      <div class="cell">
        <p>Elections are a lot of work. We need your help! Here are some of the ways you can help us:</p>
      </div>
      <div class="cell medium-6">
        <svg class="svg icon icon-brand-facebook">
          <use xlink:href="#icon-brand-facebook"></use>
        </svg>
        <p><a href="https://www.facebook.com/Blong-for-Henn-Co-Commissioner-D2-1727221124035502/?ref=settings" target="_blank">Like, Follow, and Share our Facebook page</a></p>
      </div>
      <div class="cell medium-6">
        <ol>
          <li>
            <p>Vote for Blong on August 14 and Nov 6</p>
            <div class="callout secondary">
              <p>Early voting starts June 29, 2018. For more info, visit <a href="https://www.hennepin.us/residents/elections/absentee-voting" target="_blank">https://www.hennepin.us/residents/elections/absentee-voting</a></p>
            </div>
          </li>
          <li>Donate money to the campaign or host a fundraiser</li>
          <li>Host a meet and greet with neighbors/friends/family</li>
          <li>Be listed as an endorser on the website and/or literature pieces</li>
          <li>Put up a lawn sign</li>
          <li>Make phone calls</li>
          <li>Knock on doors and talk to voters</li>
          <li>Drop literature pieces</li>
          <li>Provide snacks and drinks, lunch or dinner for volunteers</li>
          <li>Help in the office, stuffing envelopes, doing data entry, etc.</li>
          <li>Help with special events such as marching in a parade, tabling at an event, etc.</li>
          <li>If you want to be on our email list, drop us an email to let us know.</li>
        </ol>
        <p>If you’d like to help with any of the following activities above, <a href="tel:612-968-2504">call</a>, <a href="sms:612-968-2504">text</a>, or <a href="mailto:Blongyang612@gmail.com">email us</a>.</p>
      </div>
    </div>
  </div>
</div>